@charset "UTF-8";

@import "mixin";

// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

$gird-color: #ddd;
$header-height: 85px;

* {
  box-sizing: border-box;
}
.clearfix {
  @include clearfix;
}
.hide {
  display: none !important;
}
#preview {
   margin-top: $header-height;
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft Yahei","WenQuanYi Micro Hei",sans-serif;
  color: #333;
  // overflow: hidden;
  // background: #f1f1f1;
  & > header {
    background: #fff;
    height: $header-height;
    @include position(absolute, 0 0 null 0);
  }
  & > article {
    height: 100vh;
    overflow: hidden;
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
    & > * {
      margin-top: $header-height;
      // padding: 10px;
   
    }
    & > aside {
      position: relative;
      .container {
        min-height: 100%;
        overflow-y: auto;
      }
      &.disabled:after {
        content: '';
        @include position(absolute, 0 0 0 0);
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
      }
      .list {
        min-height: 300px;
        overflow: hidden;
      }
      .list li {
        width: 50px;
        height: 50px;
        border:1px solid #333;
        margin: 5px 10px;
        float: left;
        background:#fff;
        svg {
          margin: 10px 0 0  10px;
          height: 30px;
          width: 30px;
        }
      }
    }
    & > section {
      width: 100%;
      position: relative;
    }
  }
}

header {
  .right {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }
}

#logo {
  height: $header-height;
  width: 350px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat center;
}

#controls {
  color: #fff;
  background: #00b6f7;
  width: 300px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.params {
  padding: 5px 10px 6px;
  border-bottom: 1px solid #eee;
}

#canvas {
  overflow: auto;
  z-index: 2;
  @include position(absolute, 47px 0 0 0);
  .box {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    border: 1px solid #ddd;
    z-index: 10;
    &.fix-dimension {
      display: inline-block;
      width: auto;
      height: auto;
      left: auto;
    }
    &.resizable {
      width: 100px;
      height: 100px;
      
      .box-content {
        width: 100%;
        height: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    @include position(absolute, 100px 0 0 100px);
    &.active {
      border-color: #999;
    }
    .close {
      display: none;
      border: 1px solid #ddd;
      line-height: 15px;
    }
    &.active .close,
    &:hover .close {
      display: block;
      height: 20px;
      width: 20px;
      text-align: center;
      z-index: 1;
      line-height: 15px;
      cursor: pointer;
      @include position(absolute, -1px 0 0 100%);
    }
    &.active .close {
      border-color: #999;
    }
  }
  .legend {
    width: 100%;
    height: 100%;
  }
}
#output {
  @extend #canvas;
  display: none;
  z-index: -1;
  height:100vh;
  .box {
    border: 0;
    .close {
      display: none;
    }
  }
}
.outputing{

 &>header,
 #main_content {
  display: none;
 }
  #output {
    background: #fff;
    display: block;
    // background: #333;
    top: 0;
    bottom: auto;
    right: auto;
    position: relative;
    z-index: 3;
    .box {
      // position: relative;
    }
  }
}
#paste {
  width: 30px;
  text-align: center;
  display: table;
  border: 1px solid $gird-color;
  position: absolute;
  left: 12px;
  -moz-transform: perspective(100px) rotateY(-30deg);
  -ms-transform: perspective(100px) rotateY(-30deg);
  -o-transform: perspective(100px) rotateY(-30deg);
  -webkit-transform: perspective(100px) rotateY(-30deg);
  transform: perspective(100px) rotateY(-30deg);
  div {
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
  }
}

#bg_grid {
  display: inline-block;
  border: 1px solid $gird-color;
  @include position(absolute, 10px null null 40px);
  .box-area {
    float: left;
    border-right: 1px dashed $gird-color;
    border-bottom: 1px dashed $gird-color;
    &:nth-child(n+9) {
      border-bottom: 0;
    }
    &:nth-child(4n) {
      border-right: 0;
    }
  }
}

#box_contaniner {
  @include position(absolute, 10px null null 40px);
  // background-color: #333;
  z-index: 2;
}

.input-sm {
  display: inline-block;
  width: 50px;
}
.group {
  padding: 0 10px;
  margin:10px 0 20px;
  .title {
    font-size: 18px;
  }
  .input-block {
    display: block;
    width: 100%;
  }
}

input {
  padding: 2px 3px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #333;
  margin: 0 5px;
  &:focus {
    outline: 0;
  }
}

.minicolors-theme-default {
  .minicolors-input {
    padding-left: 5px;
    padding-right: 20px;
  }
  .minicolors-swatch {
    right: 6px;
    left: auto;
    top: 1px;
  }
}

.btn {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.btn-success,
  &.btn-error,
  &.btn-warning,
  &.btn-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.btn-success {
    background: rgb(28, 184, 65);
    /* this is a green */
  }

  &.btn-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
  }

  &.btn-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
  }

  &.btn-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
  }

  &.btn-xsmall {
    font-size: 70%;
  }

  &.btn-small {
    font-size: 85%;
  }

  &.btn-large {
    font-size: 110%;
  }

  &.btn-xlarge {
    font-size: 125%;
  }
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.btn-hover, .btn:hover, .btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.btn:focus {
  outline: 0;
}

.btn-active, .btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000 \9;
}

.btn[disabled], .btn-disabled, .btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active {
  border: 0;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity = 40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none;
}

